table{
    border-collapse: collapse;
    font-size: 30px ;
    font-style: italic;
    background-image: url(../imagenes/logo.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

    
}

th,td{
border-style: ridge;
padding: 10px;
}

tr>th{
    background-color: #8498FF;   
}

tbody{
    background-color:white ;
    font-style: italic;
    text-shadow: 5px 3px 3px rgb(121, 198, 250);
}

tbody>tr>td:hover{
    background-color: #FF7474    ;
}

thead>tr>th:hover{
    background-color: #FF7474 ;
}